<footer class="h-[720px] w-full flex flex-col">
   <div class="h-[92%] bg-[#568F87]">
      <div class="px-12 py-14 flex flex-row w-full justify-around items-start"> <!-- first foot -->
         <div class="flex flex-col items-start gap-16">
            <div class="flex flex-col items-start justify-between gap-3">
               <h1 class="text-4xl font-black pb-2">
                  Ini Logo.
               </h1>   
               <h2 class="text-2xl font-bold">
                  Need Help?
               </h2>
               <p class="">
                  Visit our
                  <a href="https://github.com/pikopikk" class="underline">
                     Customer Support
                  </a>
                  <br>
                  for assistance or call us at
               </p>
               <h3 class="text-2xl font-bold">
                  123-456-7890
               </h3>
            </div>
            <div class="flex flex-row gap-3">
               <a href="https://www.instagram.com/pikopik__/">
                  <i class="ri-instagram-line text-2xl"></i>
               </a>
               <a href="https://github.com/pikopikk">
                  <i class="ri-github-fill text-2xl"></i>
               </a>
               <a href="https://www.youtube.com/@pikopik__">
                  <i class="ri-youtube-line text-2xl"></i>
               </a>
               <a href="https://www.linkedin.com/in/taufikhan-rayana-6751b4273/">
                  <i class="ri-linkedin-box-fill text-2xl"></i>
               </a>
            </div>
         </div>

         <div class="flex flex-col items-start justify-between gap-5">
            <h2 class="text-2xl font-black">
               Menu
            </h2>

            <ul class="flex flex-col items-start justify-between gap-3">
               <li>
                  <a href="">
                     Deals
                  </a>
               </li>
               <li>
                  <a href="">
                     Food
                  </a>
               </li>
               <li>
                  <a href="">
                     Beverages
                  </a>
               </li>
               <li>
                  <a href="">
                     Household
                  </a>
               </li>
               <li>
                  <a href="">
                     Personal Care
                  </a>
               </li>
               <li>
                  <a href="">
                     My Orders
                  </a>
               </li>
            </ul>
         </div>

         <div class="flex flex-col items-start justify-between gap-5">
            <h2 class="text-2xl font-black">
               Categories
            </h2>
            
            <ul class="flex flex-col items-start justify-between gap-3">
               <li class="list-none">
                  <a href="">
                     Vegetables
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Bakery
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Wine
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Diary & Eggs
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Meat & Poultry
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Soft Drinks
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Cleaning Supplies
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Cereal & Snacks
                  </a>
               </li>
            </ul>
         </div>

         <div class="flex flex-col items-start justify-between gap-5">
            <h2 class="text-2xl font-black">
               Info
            </h2>
            
            <ul class="flex flex-col items-start justify-between gap-3">
               <li class="list-none">
                  <a href="">
                     FAQ
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     About Us
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Costumer Support
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Locations
                  </a>
               </li>
            </ul>
         </div>

         <div class="flex flex-col items-start justify-between gap-5">
            <h2 class="text-2xl font-black">
               My Choice
            </h2>

            <ul class="flex flex-col items-start justify-between gap-3">
               <li class="list-none">
                  <a href="">
                     Favorites
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     My Orders
                  </a>
               </li>
            </ul>
         </div>
      </div>

      <div class="mx-16 border border-stone-100">
         <!-- second foot/the line -->
      </div>

      <div class="px-4 py-9 flex flex-col justify-between items-center gap-8"> <!-- third foot -->
         <div class="flex flex-row gap-14">
            <a href="" class="underline">
               Shipping & Returns   
            </a>
            <a href="" class="underline">
               Terms & Conditions
            </a>
            <a href="" class="underline">
               Payment Methods
            </a>
         </div>

         <div>
            <p class="text-2xl font-bold text-center">
               We accept the following payment methods
            </p>
         </div>

         <div class="flex flex-row items-center justify-around gap-7 -mt-1">
            <div class="h-16 w-24">
               <a href="">
                  <img src="./img/payment/bca.svg" alt="">
               </a>
            </div>
            <div class="h-16 w-24">
               <a href="">
                  <img src="./img/payment/bni.svg" alt="">
               </a>
            </div>
            <div class="h-16 w-24">
               <a href="">
                  <img src="./img/payment/gopay.png" alt="">
               </a>
            </div>
            <div class="h-16 w-24">
               <a href="">
                  <img src="./img/payment/qris.png" alt="">
               </a>
            </div>
            <div class="h-16 w-24">
               <a href="">
                  <img src="./img/payment/bsi.png" alt="">
               </a>
            </div>
            <div class="h-16 w-24">
               <a href="">
                  <img src="./img/payment/mandiri.svg" alt="">
               </a>
            </div>
         </div>
      </div>
   </div>

   <div class="h-[8%] bg-stone-100 flex items-center justify-center">
      <p class="text-center text-gray-800">
         © 2025 by Adul. Powered and secured by 
         <a href="https://github.com/pikopikk" class="underline">
            Himself.
         </a>
      </p>
   </div>
</footer>