<footer class="h-[720px] w-full flex flex-col">
   <div class="h-[92%] bg-[#568F87]">
      <div class="px-12 py-14 flex flex-row w-full justify-between items-start"> <!-- first foot -->
         <div>
            <div>
               <h1>
                  Ini Logo
               </h1>   
               <h2>
                  Need Help?
               </h2>
               <p>
                  Visit our
                  <a href="https://github.com/AdulWazowski" class="underline">
                     Customer Support
                  </a>
                  <br>
                  for assistance or call us at
               </p>
               <h3>
                  123-456-7890
               </h3>
            </div>
            <div>
               <a href="https://www.instagram.com/pikopik__/">
                  <i class="ri-instagram-line"></i>
               </a>
               <a href="https://github.com/AdulWazowski">
                  <i class="ri-github-fill"></i>
               </a>
               <a href="https://www.youtube.com/@pikopik__">
                  <i class="ri-youtube-line"></i>
               </a>
               <a href="https://www.linkedin.com/in/taufikhan-rayana-6751b4273/">
                  <i class="ri-linkedin-box-fill"></i>
               </a>
            </div>
         </div>

         <div>
            <h2>
               Menu
            </h2>

            <ul>
               <li>
                  <a href="">
                     Deals
                  </a>
               </li>
               <li>
                  <a href="">
                     Food
                  </a>
               </li>
               <li>
                  <a href="">
                     Beverages
                  </a>
               </li>
               <li>
                  <a href="">
                     Household
                  </a>
               </li>
               <li>
                  <a href="">
                     Personal Care
                  </a>
               </li>
               <li>
                  <a href="">
                     My Orders
                  </a>
               </li>
            </ul>
         </div>

         <div>
            <h2>
               Categories
            </h2>
            
            <ul>
               <li class="list-none">
                  <a href="">
                     Vegetables
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Bakery
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Wine
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Diary & Eggs
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Meat & Poultry
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Soft Drinks
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Cleaning Supplies
                  </a>
               </li>
               <li class="list-none">
                  <a href="">
                     Cereal & Snacks
                  </a>
               </li>
            </ul>
         </div>

         <div>
            <h2>
               Info
            </h2>
            
         </div>

         <div>
            <h2>
               My Choice
            </h2>
         </div>
      </div>

      <div class="mx-16 border border-stone-100"> <!-- second foot/the line -->
      </div>

      <div class="px-4"> <!-- third foot -->

      </div>
   </div>

   <div class="h-[8%] bg-stone-100 flex items-center justify-center">
      <p class="text-center">
         © 2025 by Adul. Powered and secured by 
         <a href="https://github.com/AdulWazowski" class="underline">
            Himself.
         </a>
      </p>
   </div>
</footer>