<header id="headerr" class="fixed translate-y-0 top-0 left-0 z-50 h-[40dvh] w-full flex flex-col transition-transform duration-300">
    <div class="bg-[#064232] px-[3.5rem] py-[1rem] flex flex-row justify-between min-h-[24%]">
        <div class="flex flex-row gap-6 justify-start items-center w-[30%]">
            <h5 class="text-base text-stone-200">
                About Us
            </h5>
            <h5 class="text-base text-stone-200">
                Costumer Support
            </h5>
        </div>

        <div class="flex justify-center items-center w-[40%]">
            <h5 class="text-base text-stone-200">
                Shop on the go, download our app.
                <a href="details" class="underline text-base">Details</a>
            </h5>
        </div>

        <div class="flex justify-end pr-10 items-center gap-2 w-[30%]">
            <i class="ri-user-3-line text-2xl"></i>
            <a href="login" class="text-base text-stone-200">Log In</a>
        </div>
    </div>

    <div class="bg-[#568F87] flex flex-row px-[3.5rem] py-[1rem] items-center justify-between min-h-[46%]">
        <div class="flex flex-row gap-30">
            <div>
                <h1 class="text-4xl font-black">
                    Ini Logo.
                </h1>
            </div>

            <button class="flex items-center">
                <i class="ri-search-2-line text-2xl"></i>
            </button>
        </div>

        <div class="flex flex-row gap-4 items-center justify-end">
            <div>
                <i class="ri-map-pin-2-fill text-2xl"></i>
            </div>
            <div>
                <i class="ri-heart-2-fill text-2xl"></i>
            </div>
            <div class="flex flex-row gap-1 items-center justify-end">
                <i class="ri-shopping-basket-line text-2xl"></i>
                <p class="bg-stone-100 w-5 h-5 rounded-full text-[#568F87] flex items-center justify-center">
                    0 <!-- jumlah keranjang -->
                </p>
            </div>
        </div>
    </div>

    <nav class="bg-[#FFF5F2] min-h-[30%] px-[3.5rem] py-[1rem] flex items-center justify-center ">
        <ul class="flex flex-row gap-1 items-center justify-around w-[90%]">
            <li>
                <a href="" class="text-xl font-thin text-gray-800">
                    Deals
                </a>
            </li>
            <li>
                <a href="" class="text-xl font-thin text-gray-800">
                Food
                </a>
            </li>
            <li>
                <a href="" class="text-xl font-thin text-gray-800">
                    Beverages
                </a>
            </li>
            <li>
                <a href="" class="text-xl font-thin text-gray-800">
                    Household
                </a>
            </li>
            <li>
                <a href="" class="text-xl font-thin text-gray-800">
                    Personal Care
                </a>
            </li>
            <li>
                <a href="" class="text-xl font-thin text-[#568F87]">
                    My Orders
                </a>
            </li>
        </ul>
    </nav>
</header>