<section id="hero-section" class="mt-52 w-full h-[720px] bg-[url(../img/hero-section.png)] bg-cover bg-center">
   <div class="bg-[#0000003f] h-full w-full flex items-center">
      <div class="mx-42 gap-3 flex flex-col justify-center items-start h-[70%]">
         <h3 class="text-4xl text-white">
            Easy, Fresh & Convenient	
         </h3>
         <h1 class="text-7xl font-black text-white">
            Stock Up on
            <br>
            Daily Essentials
         </h1>
         <h2 class="text-4xl font-black text-white">
            Save Big on Your
            <br>
            Favorite Brands
         </h2>
         <div class="mt-4">
            <a id="hero-btn" href="shop now" class="btn-costum-1 outline-[#568F87] focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-[#568F87] focus:outline-[#568F87]">
               Shop Now
            </a>
         </div>
      </div>
   </div>
</section>