<article class="h-[720px] w-[77dvw] mx-auto flex flex-row gap-12 items-center justify-around">
   <div class="el-fade-left bg-[url(../img/article/botol.png)] bg-cover w-[65%] h-[75%]"> <!-- background -->
      <div class="p-2 relative h-full">
         <div class="el-zoom-out delay-700 bg-[#568F87] rounded-full h-32 w-32 text-center flex items-center justify-center absolute top-10 right-20 rotate-[15deg] text-xl font-bold text-stone-100">
            Stok
            <br>
            Terbatas
         </div>

         <div class="flex flex-col  items-start justify-center gap-6 h-full"><!--need to be center in vertically-->
            <div class="flex flex-col items-start gap-2">
               <h5 class="el-fade-left w-[50%] text-xl font-bold">
                  Ini adalah Tumblr piral di Tiktok
               </h5>
               <h4 class="el-fade-left w-[50%] text-4xl font-bold">
                  Harga Terjangkau
               </h4>
               <h1 class="el-fade-left w-[90%] text-6xl font-black">
                  Botol Army Taehyung BTS
               </h1>
               <p class="el-fade-left w-[50%]">
                  Segera checkout karena ini adalah edisi terbatas. Taehyung aja pakai masa kamu gak.
               </p>
            </div>

            <div>
               <a href="" class="el-zoom-in btn-costum-1 outline-[#568F87] focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-[#568F87] focus:outline-[#568F87]">
                  Shop Now
               </a>
            </div>
         </div>
      </div>
   </div>

   <div class="el-fade-right bg-[url(../img/article/boneka-kayu.png)] bg-cover w-[35%] h-[75%]"> <!-- background -->
      <div class="p-2 relative h-full">
         <div class="flex flex-col  items-start justify-center gap-6 h-full"><!--need to be center in vertically-->
            <div class="flex flex-col items-start justify-around">
               <h5 class="el-fade-left w-full text-xl font-bold">
                  Penawaran Terbaik Minggu ini
               </h5>
               <h1 class="el-fade-left w-full text-8xl font-black">
                  15% 
                  <span class="el-fade-left text-3xl font-black align-top inline-block -ml-4">
                     off
                  </span>
               </h1>
               <h4 class="el-fade-left w-full text-3xl font-bold">
                  Boneka Kayu Mahoni
               </h4>
            </div>

            <div>
               <a href="" class="el-zoom-in btn-costum-1 outline-[#568F87] focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-[#568F87] focus:outline-[#568F87]">
                  Shop Now
               </a>
            </div>
         </div>
      </div>
   </div>
</article>