<section class="h-52 flex items-center justify-center">
   <div class="w-[75dvw] px-5 flex flex-row gap-2 justify-between">
      <div class="flex flex-row gap-3 border-r-2 border-stone-900 pr-7">
         <i class="ri-truck-line text-5xl text-[#568F87]"></i>
         <div>
            <h5 class="text-black text-xl">
               Free Delivery
            </h5>
            <p>
               To Your Door
            </p>
         </div>
      </div>
      <div class="flex flex-row gap-3 border-r-2 border-stone-900 pr-7 pl-1">
         <i class="ri-shopping-basket-line text-5xl text-[#568F87]"></i>
         <div>
            <h5 class="text-black text-xl">
               Local Pickup
            </h5>
            <p>
               Check Out
               <a href="" class="underline">
                  Locations
               </a>
            </p>
         </div>					
      </div>
      <div class="flex flex-row gap-3 border-r-2 border-stone-900 pr-7 pl-1">
         <i class="ri-customer-service-2-line text-5xl text-[#568F87]"></i>
         <div>
            <h5 class="text-black text-xl">
               Available for You
            </h5>
            <p>
               <a href="" class="underline">
                  Online Support
               </a>
               24/7
            </p>
         </div>
      </div>
      <div class="flex flex-row gap-3 pl-1">
         <i class="ri-smartphone-line text-5xl text-[#568F87]"></i>
         <div>
            <h5 class="text-black text-xl">
               Order on the Go
            </h5>
            <p>
               <a href="" class="underline">
                  Download
               </a>
               Our App
            </p>
         </div>
      </div>
   </div>
</section>