<section class="flex flex-col items-center gap-16 h-fit w-[77dvw] py-10 pb-28 mx-auto">
   <div class="flex items-start w-full">
      <h1 class="text-4xl font-black">
         Most Popular Categories
      </h1>
   </div>

   <div class="flex flex-col gap-4 items-center w-full justify-between">
      <div class="flex flex-row items-center h-fit w-full">
         <div class="flex flex-col border border-stone-500 w-full flex-1">
            <div class=" h-72 w-full">
               <img src="./img/product/pop-sayur.png" alt="" class="h-full w-full">
            </div>
            <div class="w-full">
               <h5 class="text-xl font-bold text-center py-7">
                  Vegetables
               </h5>
            </div>
         </div>
         <div class="flex flex-col border border-stone-500 w-full flex-1">
            <div class="h-72 w-full">
               <img src="./img/product/pop-roti.png" alt="" class="h-full w-full">
            </div>
            <div class="w-full">
               <h5 class="text-xl font-bold text-center py-7">
                  Bakery
               </h5>
            </div>
         </div>
         <div class="flex flex-col border border-stone-500 w-full flex-1">
            <div class="h-72 w-full">
               <img src="./img/product/pop-wine.png" alt="" class="h-full w-full">
            </div>
            <div class="w-full">
               <h5 class="text-xl font-bold text-center py-7">
                  Wine
               </h5>
            </div>
         </div>
         <div class="flex flex-col border border-stone-500 w-full flex-1">
            <div class="h-72 w-full">
               <img src="./img/product/pop-telur.png" alt="" class="h-full w-full">
            </div>
            <div class="w-full">
               <h5 class="text-xl font-bold text-center py-7">
                  Diary & Eggs
               </h5>
            </div>
         </div>
      </div>

      <div class="flex flex-row items-center h-[320px] w-full">
         <div class="flex flex-col border border-stone-500 w-full flex-1">
            <div class=" h-72 w-full">
               <img src="./img/product/pop-daging.png" alt="" class="h-full w-full">
            </div>
            <div class="w-full">
               <h5 class="text-xl font-bold text-center py-7">
                  Meat & Poultry
               </h5>
            </div>
         </div>
         <div class="flex flex-col border border-stone-500 w-full flex-1">
            <div class="h-72 w-full">
               <img src="./img/product/pop-soda.png" alt="" class="h-full w-full">
            </div>
            <div class="w-full">
               <h5 class="text-xl font-bold text-center py-7">
                  Soft Drinks
               </h5>
            </div>
         </div>
         <div class="flex flex-col border border-stone-500 w-full flex-1">
            <div class="h-72 w-full">
               <img src="./img/product/pop-pembersih.png" alt="" class="h-full w-full">
            </div>
            <div class="w-full">
               <h5 class="text-xl font-bold text-center py-7">
                  Cleaning Supplies
               </h5>
            </div>
         </div>
         <div class="flex flex-col border border-stone-500 w-full flex-1">
            <div class="h-72 w-full">
               <img src="./img/product/pop-snack.png" alt="" class="h-full w-full">
            </div>
            <div class="w-full">
               <h5 class="text-xl font-bold text-center py-7">
                  Cereal & Snacks
               </h5>
            </div>
         </div>
      </div>
   </div>
</section>