<section class="flex flex-col items-center gap-10 w-[77dvw] mx-auto pb-16">
   <div class="flex items-start w-full">
      <h1 class="el-fade-up text-4xl font-black">
         Mulai Berbelanja
      </h1>
   </div>

   <div class="flex flex-row gap-4 items-center justify-between">
      <button>
         <i class="ri-arrow-left-s-line"></i>
      </button>

      <div class="w-[77dvw] overflow-x-hidden"> <!-- overflow -->
         <div class="flex flex-row items-center justify-center gap-6"> <!-- cards -->
            <div class="child-rule-1 el-fade-left h-[400px] flex flex-col justify-between w-44 border border-stone-500 flex-shrink-0"> <!-- card -->

               <div>
                  <div class="h-40 w-full bg-[url(../img/product/kopi.png)] bg-cover"> <!-- background -->
                  </div>
                  <div class="p-3">
                     <p class="text-stone-700 line-clamp-2">
                        Kopi Hitam Impor Guatemala 
                     </p>
                     <h4 class="text-[#568F87] text-xl font-bold">
                        Rp97.000
                     </h4>
                  </div>
               </div>

               <div class="flex flex-col items-center gap-3 pb-4">
                  <div class="flex flex-row justify-between items-center w-[80%] border border-stone-600 py-1">
                     <button>
                        <i class="ri-subtract-line text-2xl text-stone-500"></i>
                     </button>
                     <p>
                        1
                     </p>
                     <button>
                        <i class="ri-add-line text-2xl text-stone-500"></i>
                     </button>
                  </div>
                  <button class="btn-costum-1 text-stone-100 bg-stone-900 outline-stone-900 focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-stone-900 focus:outline-stone-900">
                     Add to Cart
                  </button>
               </div>
            </div>

            <!-- manual from here -->
            <div class="child-rule-1 el-fade-left h-[400px] flex flex-col justify-between w-44 border border-stone-500 flex-shrink-0"> <!-- card -->

               <div>
                  <div class="h-40 w-full bg-[url(../img/product/roti.png)] bg-cover"> <!-- background -->
                  </div>
                  <div class="p-3">
                     <p class="text-stone-700 line-clamp-2">
                        Roti Gandum Original
                     </p>
                     <h4 class="text-[#568F87] text-xl font-bold">
                        Rp14.000
                     </h4>
                  </div>
               </div>

               <div class="flex flex-col items-center gap-3 pb-4">
                  <div class="flex flex-row justify-between items-center w-[80%] border border-stone-600 py-1">
                     <button>
                        <i class="ri-subtract-line text-2xl text-stone-500"></i>
                     </button>
                     <p>
                        1
                     </p>
                     <button>
                        <i class="ri-add-line text-2xl text-stone-500"></i>
                     </button>
                  </div>
                  <button class="btn-costum-1 text-stone-100 bg-stone-900 outline-stone-900 focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-stone-900 focus:outline-stone-900">
                     Add to Cart
                  </button>
               </div>
            </div>
            
            <div class="child-rule-1 el-fade-left h-[400px] flex flex-col justify-between w-44 border border-stone-500 flex-shrink-0"> <!-- card -->

               <div>
                  <div class="h-40 w-full bg-[url(../img/product/susu.png)] bg-cover"> <!-- background -->
                  </div>
                  <div class="p-3">
                     <p class="text-stone-700 line-clamp-2">
                        Susu Sapi Betina Impor Amerika Utara
                     </p>
                     <h4 class="text-[#568F87] text-xl font-bold">
                        Rp20.000
                     </h4>
                  </div>
               </div>

               <div class="flex flex-col items-center gap-3 pb-4">
                  <div class="flex flex-row justify-between items-center w-[80%] border border-stone-600 py-1">
                     <button>
                        <i class="ri-subtract-line text-2xl text-stone-500"></i>
                     </button>
                     <p>
                        1
                     </p>
                     <button>
                        <i class="ri-add-line text-2xl text-stone-500"></i>
                     </button>
                  </div>
                  <button class="btn-costum-1 text-stone-100 bg-stone-900 outline-stone-900 focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-stone-900 focus:outline-stone-900">
                     Add to Cart
                  </button>
               </div>
            </div>

            <div class="child-rule-1 el-fade-left h-[400px] flex flex-col justify-between w-44 border border-stone-500 flex-shrink-0"> <!-- card -->

               <div>
                  <div class="h-40 w-full bg-[url(../img/product/pisang.png)] bg-cover"> <!-- background -->
                  </div>
                  <div class="p-3">
                     <p class="text-stone-700 line-clamp-2">
                        Pisang Kalimantan Kolaborasi Borneo FC 2025
                     </p>
                     <h4 class="text-[#568F87] text-xl font-bold">
                        Rp23.000
                     </h4>
                  </div>
               </div>

               <div class="flex flex-col items-center gap-3 pb-4">
                  <div class="flex flex-row justify-between items-center w-[80%] border border-stone-600 py-1">
                     <button>
                        <i class="ri-subtract-line text-2xl text-stone-500"></i>
                     </button>
                     <p>
                        1
                     </p>
                     <button>
                        <i class="ri-add-line text-2xl text-stone-500"></i>
                     </button>
                  </div>
                  <button class="btn-costum-1 text-stone-100 bg-stone-900 outline-stone-900 focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-stone-900 focus:outline-stone-900">
                     Add to Cart
                  </button>
               </div>
            </div>

            <div class="child-rule-1 el-fade-left h-[400px] flex flex-col justify-between w-44 border border-stone-500 flex-shrink-0"> <!-- card -->

               <div>
                  <div class="h-40 w-full bg-[url(../img/product/telur.png)] bg-cover"> <!-- background -->
                  </div>
                  <div class="p-3">
                     <p class="text-stone-700 line-clamp-2">
                        Telur Omega Asli Jepang
                     </p>
                     <h4 class="text-[#568F87] text-xl font-bold">
                        Rp16.000
                     </h4>
                  </div>
               </div>

               <div class="flex flex-col items-center gap-3 pb-4">
                  <div class="flex flex-row justify-between items-center w-[80%] border border-stone-600 py-1">
                     <button>
                        <i class="ri-subtract-line text-2xl text-stone-500"></i>
                     </button>
                     <p>
                        1
                     </p>
                     <button>
                        <i class="ri-add-line text-2xl text-stone-500"></i>
                     </button>
                  </div>
                  <button class="btn-costum-1 text-stone-100 bg-stone-900 outline-stone-900 focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-stone-900 focus:outline-stone-900">
                     Add to Cart
                  </button>
               </div>
            </div>

            <div class="child-rule-1 el-fade-left h-[400px] flex flex-col justify-between w-44 border border-stone-500 flex-shrink-0"> <!-- card -->

               <div>
                  <div class="h-40 w-full bg-[url(../img/product/timun.png)] bg-cover"> <!-- background -->
                  </div>
                  <div class="p-3">
                     <p class="text-stone-700 line-clamp-2">
                        Timun Panjang Gorontalo
                     </p>
                     <h4 class="text-[#568F87] text-xl font-bold">
                        Rp5.000
                     </h4>
                  </div>
               </div>

               <div class="flex flex-col items-center gap-3 pb-4">
                  <div class="flex flex-row justify-between items-center w-[80%] border border-stone-600 py-1">
                     <button>
                        <i class="ri-subtract-line text-2xl text-stone-500"></i>
                     </button>
                     <p>
                        1
                     </p>
                     <button>
                        <i class="ri-add-line text-2xl text-stone-500"></i>
                     </button>
                  </div>
                  <button class="btn-costum-1 text-stone-100 bg-stone-900 outline-stone-900 focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-stone-900 focus:outline-stone-900">
                     Add to Cart
                  </button>
               </div>
            </div>

            <div class="child-rule-1 el-fade-left h-[400px] flex flex-col justify-between w-44 border border-stone-500 flex-shrink-0"> <!-- card -->

               <div>
                  <div class="h-40 w-full bg-[url(../img/product/gula.png)] bg-cover"> <!-- background -->
                  </div>
                  <div class="p-3">
                     <p class="text-stone-700 line-clamp-2">
                        Gula Pasir
                     </p>
                     <h4 class="text-[#568F87] text-xl font-bold">
                        Rp10.000
                     </h4>
                  </div>
               </div>

               <div class="flex flex-col items-center gap-3 pb-4">
                  <div class="flex flex-row justify-between items-center w-[80%] border border-stone-600 py-1">
                     <button>
                        <i class="ri-subtract-line text-2xl text-stone-500"></i>
                     </button>
                     <p>
                        1
                     </p>
                     <button>
                        <i class="ri-add-line text-2xl text-stone-500"></i>
                     </button>
                  </div>
                  <button class="btn-costum-1 text-stone-100 bg-stone-900 outline-stone-900 focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-stone-900 focus:outline-stone-900">
                     Add to Cart
                  </button>
               </div>
            </div>
            <!-- until here -->
         </div>
      </div>
      
      <button>
         <i class="ri-arrow-right-s-line"></i>
      </button>
   </div>

   <div class="pt-3">
      <a href="" class="el-zoom-in btn-costum-1 text-stone-100">
         Shop Best Deals
      </a>
   </div>
</section>