<section id="subscribe" class="bg-[url(../img/subscribe/subs.png)] bg-cover h-[600px] w-full">
   <div class="bg-[#00000070] w-full h-full flex items-center"> <!-- dark layer -->
      <div class="flex flex-col items-center gap-5 w-[55%] mx-auto">
         <div class="flex flex-col items-start justify-around w-full">
            <h5 class="w-full text-xl font-bold">
               Ingat & Berlangganan
            </h5>
            <h1 class="w-full text-9xl font-black">
               20% 
               <span class="text-3xl font-black align-top inline-block -ml-4">
                  off
               </span>
            </h1>
            <h4 class="w-full text-3xl font-bold">
               Pesananmu Berikutnya
            </h4>
         </div>

         <form action="" class="flex flex-col items-start justify-around w-full gap-8">
            <div class="w-full">
               <p>
                  Email *
               </p>
               <input type="text" class="w-full p-1.5 px-4 bg-black rounded-full border border-stone-100 outline-none focus:outline-none focus:ring-0 focus:bg-[#000000ab]">
            </div>

            <div class="flex flex-row justify-between items-center w-full">
               <div class="flex flex-row items-center gap-2">
                  <input type="checkbox" placeholder="" class="w-4 h-4 ">
                  <p class="text-left">
                     Ya, saya berlangganan dengan informasi terbaru anda. *
                  </p>
               </div>

               <button class="btn-costum-1 px-14 outline-[#568F87] focus:outline-2 hover:bg-stone-100 hover:cursor-pointer hover:text-[#568F87] focus:outline-[#568F87]">
                  Subscribe
               </button>
            </div>
         </form>
      </div>
   </div>
</section>